{% extends 'base.html'%}
{% load static %}

{% block childpage %}
<div class="text-center">
    <h2><i class="fa-solid fa-circle-info"></i>
    About <b class="txt-mycolor">Our channel</b></h2>
    <p>There are multiple reasons to choose us for the multiple purpose related to your daily news.
    Beleave me you wil find us most suitable.</p>
</div>
<div class="row mx-auto">
    <div class="col-sm-5 py-4 ms-3 bg-light" style="text-align:justify;"> Media 24x7, we are committed to keeping you informed, inspired, and connected. Explore the world through our lens and stay ahead with accurate and timely news updates.
        Media 24x7: Where news never sleeps. Our dedicated team of journalists works tirelessly to bring you real-time news, insightful commentary, and thought-provoking features.
        Discover a world of news with Media 24x7. We pride ourselves on delivering fair, unbiased, and comprehensive reporting that empowers you to make informed decisions.
        Join the Media 24x7 community and embark on a journey through the world's top headlines and untold stories. Your go-to destination for news that matters.
        Media 24x7 - Your window to the world. Dive into a rich tapestry of global events, politics, culture, and more, all under one roof.
        Trust, Integrity, Excellence - These are the pillars of Media 24x7. We are dedicated to upholding the highest journalistic standards to serve you better.
        Media 24x7: Navigating the ever-evolving news landscape. We adapt, innovate, and deliver news that resonates with your curiosity and thirst for knowledge.
        At Media 24x7, we don't just report news; we connect you to the heartbeat of the world. Stay informed, stay engaged, and stay inspired.
        Welcome to Media 24x7, where information meets inspiration. Join us on a quest to explore the stories that shape our world.
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 py-4">
        <img src="{% static 'images/news1.jpg' %}" style="height:400px; width:700px;"/>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-sm-5 p-3">
        <img src="{% static 'images/oip.jpeg' %}" style="height:200px; width:700px;"/>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 py-4 mb-5 bg-light" style="text-align:justify;">
        <center><h2>India is evolving, so is HT Media</h2></center>s
        <p>We’ve stayed relevant to the evolving idea of India from 1924 to now. Our ideas have influenced culture, our journalism has shaped public opinion and our properties have played a key role in the life of evolving Indians.</p>
    </div>
</div>

{% endblock%}