{% extends 'base.html'%}
{% load static %}

{% block childpage %}
<div class="row">

    <div class="col-sm-9 p-2 px-2">
        <!--start slider-->
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'images/news1.jpg'%}" style="max-height:350px;" class="d-block w-100 rounded rounded-3 " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
  {% for i in sd %}
    <div class="carousel-item">
      <img src="/{{i.slider_picture}}"  style="max-height:350px;" class="d-block w-100 rounded rounded-3 " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{i.headlines}}</h5>
        <p>{{i.slider_dec}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
        <!--end slider-->
    </div>
    <div class="col-sm-3">
      <div class="text-center fs-2 mt-2 bg-mycolor1 rounded-top">Latest <b class="txt-mycolor">Jobs</b></div>
       <marquee direction="down"  behavior="alternate" height=300px; onmouseover="stop()" onmouseleave="start()">
       <ul class="list-group list-group-flush;">
         {% for i in jobdata %}
  <li class="list-group-item">
    <a href="{{i.job_link}}" style="text-decoration:none; color:grey;" target="_blank">
    <img src="{% static 'images/new.gif' %}" height="30px"/>
      {{i.job_title}}
       </a>
  </li>

         {% endfor %}

</ul>
      </marquee>
      </div>
  </div>
<div class="row bg-light ">
<div class="col-sm-12 py-2 text-center">
  {% for i in cdata1 %}
  <a href="/user/news?x={{i.id}}" class="btn btn-sm btn-outline-dark">{{i.category_name}}</a>
  {% endfor %}
</div>
</div>
<!--start latest news-->
<div class="row news bg-light text-center py-3">
  <div class="fs-2"><h1>Latest <b class="txt-mycolor"> News <i class="fa-regular fa-newspaper"></i>f </b></h1></div>
    <div class="col-sm-10 mx-auto">

      <div class="row" >
        {% for x in ndata %}
        <div class="col-sm-2 py-2 ">
          <div class="card" style="height:400px;">
          <!--card start-->
            <img src="/{{x.news_picture}}" style="height:120px;" class="card-img-top"/>
            <div class="card-body">
              <h5 class="card-title" style="font-size:15px;">{{x.news_headlines}}</h5>
              <b>{{x.news_category}}</b></br>
              <a href="/user/viewnews?msg={{x.id}}" class="btn bg-mycolor text-light mt-2">View more
                <i class="fa-solid fa-eye"></i>
              </a></br>

                <b class="text muted">
                  <i class="fa-solid fa-calendar-days"></i>
                </b><span style="font-size:15px;">
                    {{x.news_date}}|| {{x.news_city}}</span>

            </div>

          <!--card end-->
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
<!--end latest news-->


<div class="row bg-secondary py-4 city">
  <div class="col-sm-12 mx-auto text-center">
    {% for i in cdata %}
    <a href="/user/news?y={{i.id}}" class="btn btn-outline-light">{{i.city_name}}
    <img src="/{{i.city_picture}}" style="max-height:40px;" class="img-thumbnail"/>
    </a>
    {% endfor %}
  </div>
  </div>

  <div class="row py-5 text-center"><h1>Video <b class="txt-mycolor">News <i class="fa-solid fa-photo-film"></i></b></h1><br/>
    {% for x in vdata %}
    <!--videonews-->
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-5">
<iframe class="img-fluid rounded-start w-100" src="{{x.vlink}}" style="height:400px" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h5 class="card-title">{{x.headlines}}</h5>
        <p class="card-text">{{x.news}}</p>
        <a href="/user/viewnews?xyz={{x.id}}" class="btn btn-sm bg-mycolor text-light mt-2">View more
                <i class="fa-solid fa-eye"></i>
              </a>
        <p class="card-text"><small class="text-body-secondary">
          <i class="fa-solid fa-calendar-days"></i> {{x.newsdate}}
          <i class="fa-solid fa-city"></i> {{x.city}}
        </small> </p>
      </div>
    </div>
  </div>
</div>
    </div>
    <!--end videonews-->
    {% endfor %}
  </div>

<!--start category-->
<div class="row bg-light text-center py-4"><h1>Category<b>&nbsp;<i class="fa-regular fa-images"></i></b></h1>
  {% for a in catdata %}
  <div class="col-lg-2 col-md-3 col-sm-4">
    <div class="card">
      <img src="/{{a.category_picture}}" style="max-height:100px;" class="card-img-top"/>
      <div class="card-body">
        <a href="/user/news?x={{a.id}}" style="text-decoration:none;color:grey;">
        <p class="card-text text-center"><b>{{a.category_name}}</b></p>
          </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<!--end category-->


{% endblock %}